*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{font-size: 12px;}
#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    padding:2rem;
}


/*Menubar*/
#menubar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    background-color: #fff; 
    gap: 11vh;
}

#sec1, #sec2, #sec3 {
    display: flex;
    padding: 10px;
    flex-direction: column;
   
}

.menuIcons {
    margin-right: 10px;
}

.material-symbols-outlined {
   
    font-size: 24px;
}

#menubar #sec1 img {
    max-width: 100%;
    height: auto;
    height: 2rem;
}
#menubar #sec1  {
  
   gap:2vh;
}
#menubar #sec3  {
   
    gap:2vh;
 }
 #menubar #sec2{
    gap:2vh;
    margin-bottom: 25vh;
 }



/* First Component  */
#comp-1{
    padding: 8vh;
    background-color: #fafafa;
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2vh;

} 
#profile{
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
}
#welcome{
    display:flex;
    flex-direction: column;
}
#welcome #head{font-size: 2rem;
}
#profile img{
    height: 100%;
}
#profile #profileImg{
    height: 100%;
}
#today{
    display: flex;
    flex-direction: column;
    gap:1vh;
    padding: 1vh;
}

.heading{
    font-weight: 501;
    font-size:1rem ;
}
#otherbalance{
    display: flex;
   flex-direction: column;
}

  .btn-primary {
    color: #fff;
    background-color: #4935ff;
    border-color: #3e2be9;
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #5b49ff;
    border-color: #4a37f0;
  }
  .btn-primary:active {
    color: #fff;
    background-color: #5b49ff;
    border-color: #4a37f0;
  }
  .dropdown{
    margin-top: 1vw;
  }
  #transaction{
      display: flex;
      flex-direction: column;
      
      padding: 1vh;
      gap: 0.7vh;
    margin-top: 2vh;
  }
  .transactionItem{
    font-family: Arial, Helvetica, sans-serif;
    font-size:.8rem ;
  }
  .transactiondetails{
    font-weight: 501;
  }
  .transactionItem .date
  {
      color: #9b9b9b;
     
      font-size: 0.8rem;
      font-weight: 500;
  }
  #recentTran{
    margin-bottom: 2vh;
  }
  #accbalance #amount{
      font-weight: bold;
      font-size: 1.5rem;
  }
  #otherbalance1{
    font-weight: bold;
    font-size: 1.1rem;
  }
  .balanceDetails{
      color: #9b9b9b;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 0.8rem;
  }
  hr{margin-top: 0.8rem;
    margin-bottom: 0.8rem;}



/* Second Component */
#comp-2{
  display: flex;
flex-direction: column;
justify-content: space-around;
  padding: 6vh;
}

#RetIncomeHeader
{
  color:#5745ff
}
#RetirementIncome{
  width: 36vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
#startingYear{
  font-weight: bold;
}
#retIncome{
  display: flex;
  flex-direction: column;
}

 #retIncome1 .Income{
   font-weight: bold;
 }
 #retIncome2{
   display: flex;
   gap: 2vw;
 }
 #Incomes{
   display: flex;
  gap: 5%;
 }
 #Incomes hr 
 {
   background-color:#7b6bff;
 }
 #retIncome2 .retIncome .Income{
  font-weight: bold;
}

/* charts */
#Contribution{
  display: flex;
  flex-direction: column;
}
#myChart{
  width: 20vw;
   height:10vh;
}

 select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #ffffff;
  background-image: none;

  padding: 0 .5em;
  
  cursor:pointer;
 }
.select{  display: flex;}
  .select::after{
    content: '\25BC';
    color:#7b7b7b;
  }
  
#Comparing-to-peers{
  display: flex;
  flex-direction: column;
}
#content{
  display: flex;

}
#progress{
  display: flex;

}
#performance{
  display: flex;
  flex-direction: row;
}
.box{
  
  width: 21%;
  height: 69%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  /* box-shadow: 0 30px 60px rgba(0,0,0,.2); */
}
.box .percent {
  position: relative;
  top: -15px;
  width: 85%;
  height: 56%;
}
.box .percent svg {
  /* position: relative; */
  width: 150px;
 
}

.box .percent svg circle{
  /* position: relative; */
  /* width: 150px;  */
  /* height: 150px; */
  fill: none;
  stroke-width: 6;
  stroke: #000;
  transform: translate(5px,5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.box .percent svg circle:nth-child(1){
  stroke-dashoffset: 0;
  stroke: #d3f7ee;
  stroke-width: 5;
}
.box .percent svg#i circle:nth-child(2){
  stroke-dashoffset:272;
  stroke: #22d6aa;
  stroke-width: 9;
}
.box .percent svg#ii circle:nth-child(2){
  stroke-dashoffset:238;
  stroke: #22d6aa;
  stroke-width: 9;
}
.box .percent svg#iii circle:nth-child(2){
  stroke-dashoffset:311;
  stroke: #22d6aa;
  stroke-width: 9;
}
.box .percent .number {
  position: absolute;
  /* width: 150px;
  height: 150px; */
  top: 50%;
  left: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#999;
}
.box .percent .number h2{
  font-size: 1rem;
}

.box .percent .number h2 span{
  font-size: 1rem;
  position: absolute;
  top: -25%;

}

.box .text {
 font-size: 1rem;  color:#999;
 margin-bottom: 0;
}



/* Component 3*/
#comp-3{
display: flex;
flex-direction: column;
justify-content: space-between;
}

#retirementStrategy_i{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1vw;
}

#retirementStrategy{
  display:flex;
  flex-direction: column;
align-items: center;
gap:2vw;
background-color: #fafafa;
border-radius: 20px;
padding: 1.5rem;

}
.emp_detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.rangeInput{
  display: flex;
  justify-content: space-around;
}

/* 
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    
  */
    /* -webkit-appearance: none; */
   
  
/*   
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  */
  /* input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    border: none;
    background: #ffffff;
    box-shadow: -80px 0 0 80px #616161;
  } 
 */

/** FF*/
input[type="range"]::-moz-range-progress {
background-color: #6898f2; 
}
input[type="range"]::-moz-range-track {  
background-color: #e7e7e7;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #73a4ff;  
}
input[type="range"]::-ms-fill-upper {  
  background-color: #d0d0d0; 
}

#Update {
  color:#dbd6ff;
  background-color: #3e2be9;
  border-radius: 8px;
  border: none;
  padding: 10px;
}
.docs{
  color:#4935ff
}

#housingadvance{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  border-left: 2px solid #3e2be9;
  gap:0.3rem
}
#housingadvance p{
  margin: 0;
}
